<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand ml-2" href="/main">SpringShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    </div>
    <ul class="navbar-nav navbar-right ">
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                [[${#httpServletRequest.remoteUser}]]
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/cart">Корзина</a>
                <a class="dropdown-item" th:if="${isAdmin}" href="/dashboard">Админка</a>
                <div class="dropdown-divider"></div>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="dropdown-item" value="Выход"/>
                </form>
            </div>
        </li>
    </ul>
</nav>

<div class="alert alert-success" role="alert" style="min-height: 30px">
</div>
<div class="container" style="margin-top: 40px ">
    <h3 class="mb-3">
        Ваш профиль
    </h3>
    <form th:action="@{/profile}" method="post">
        <div class="form-group">
            <label for="inputLogin">Ваш логин:</label>
            <input type="text" class="form-control" id="inputLogin" th:value="${user.getUsername()}" name="username">
            <small id="emailHelp" class="form-text text-muted">Имя должно состоять не менее чем из 3 символов</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Старый пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Новый пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="newPassword">
            <small class="form-text text-muted">Пароль должен состоять не менее чем из 6 символов</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword3">Подтверждение пароля</label>
            <input type="password" class="form-control" id="exampleInputPassword3" name="confNewPassword">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>