<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Успешная оплата</title>
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="refresh" content="3; url=/main"/>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Успешно!</h4>
            <p>Вы успешно совершили покупку товаром в интернет мазагине. Удачи :)</p>
            <hr>
        </div>
    </div>
</body>
</html>